################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestApp
/TG.INI/obj
/TG.INI/bin
/TG.INI/.vs/TG.INI/v14
/.vs/TG.INI/v14
/Documentation/Content
*.bat
*.exe
*.nuspec
*.nupkg
